.site-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.9rem 3rem;
    background-color: #2E0D23;
    color: #a7e1f9;
    z-index: 1000;
}

.site-header a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.site-header a:hover {
    color: #F54828;
}

.nav {
    flex-wrap: wrap;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav li a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav li a:hover {
    color: #F54828;
}

@media (max-width: 768px) {
    .site-header {
        flex-direction:row-reverse;
        align-items: center;
        text-align: center;
    }

    .nav ul {
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }
}